## Stock Price Prediction Model
### COSC 325 Course Project Fall 2024
John Paul Saia<Br>
Riley Taylor<Br>
Shanna Wallace

In [3]:
import numpy as np 
import pandas as pd

In [4]:
file = "./berkshire_hathaway_data.csv"
data = pd.read_csv(file)
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,151.500000,151.600006,148.500000,149.169998,149.169998,3436400
1,2015-01-05,148.809998,149.000000,146.779999,147.000000,147.000000,4168800
2,2015-01-06,147.639999,148.529999,146.110001,146.839996,146.839996,4116100
3,2015-01-07,147.940002,149.139999,147.649994,148.880005,148.880005,4159100
4,2015-01-08,150.600006,151.369995,150.509995,151.369995,151.369995,4282100